[submodule "external-tools/MySQLTuner-perl"]
	path = external-tools/MySQLTuner-perl
	url = https://github.com/major/MySQLTuner-perl
[submodule "external-tools/postgresqltuner"]
	path = external-tools/postgresqltuner
	url = https://github.com/jfcoz/postgresqltuner
[submodule "external-tools/tuning-primer.sh"]
	path = external-tools/tuning-primer.sh
	url = https://github.com/BMDan/tuning-primer.sh
[submodule "external-tools/mysqlconfigurer"]
	path = external-tools/mysqlconfigurer
	url = https://github.com/Releem/mysqlconfigurer
