[submodule "external-tools/apache2buddy"]
	path = external-tools/apache2buddy
	url = https://github.com/richardforth/apache2buddy
[submodule "external-tools/MySQLTuner-perl"]
	path = external-tools/MySQLTuner-perl
	url = https://github.com/major/MySQLTuner-perl
[submodule "external-tools/postgresqltuner"]
	path = external-tools/postgresqltuner
	url = https://github.com/jfcoz/postgresqltuner
[submodule "external-tools/php-fpmpal"]
	path = external-tools/php-fpmpal
	url = https://github.com/pksteyn/php-fpmpal
